body {
    text-align: center;
    background: #dedede;
    position: relative;
    color: #373737;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 50px;
}

a {
    color: #D43324;
    text-decoration: none;
    outline: none;
}

pre {
    background: #fff;
    padding: 20px;
}

main {
    text-align: left;
    border-bottom: 1px solid rgba(#000, .1);
    max-width: 600px;
    padding: 0 10px;
    margin: 40px auto;
}

section {
    border-top: 1px solid rgba(#000, .1);
    padding: 40px 0;
}
