.hero {
    padding: 150px 0;
    background: #fff;
    min-height: 100%;

    svg {
        display: block;
        width: 100%;
        height: auto;
        max-width: 240px;
        padding: 0 20px;
        margin: 0 auto 60px;
        box-sizing: border-box;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        color: #373737;
        margin: 0;
    }

    h2 {
        font-family: 'PT Serif', serif;
        color: #9F9F9F;
        margin: 0;
        font-style: italic;
    }
}
